<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brands</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<nav class="navbar">
    <div class="logo">
        <img src="images/banana.png" alt="BlueVelvet Music Store" />
    </div>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="nav-links">
        <li><a href="articles.html">Articles</a></li>
        <li><a href="brands.html">Brands</a></li>
        <li><a href="categories.html">Categories</a></li>
        <li><a href="customers.html">Customers</a></li>
        <li><a href="menus.html">Menus</a></li>
        <li><a href="orders.html">Orders</a></li>
        <li><a href="dashboard.html">Products</a></li>
        <li><a href="sales-report.html">Sales Report</a></li>
        <li><a href="settings.html">Settings</a></li>
        <li><a href="shipping.html">Shipping</a></li>
        <li><a href="users.html">Users</a></li>
    </ul>
</nav>
<h1>Implementar o Brands</h1>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const hamburger = document.querySelector(".hamburger");
        const navLinks = document.querySelector(".nav-links");

        hamburger.addEventListener("click", () => {
            navLinks.classList.toggle("show");
        });
    });
</script>